[submodule "dex/dex"]
	path = dex/dex
	url = https://github.com/dexidp/dex.git
	branch = v2.41.x
[submodule "gitops-backend/gitops-backend"]
	path = gitops-backend/gitops-backend
	url = https://github.com/redhat-developer/gitops-backend.git
[submodule "gitops-console-plugin/gitops-console-plugin"]
	path = gitops-console-plugin/gitops-console-plugin
	url = https://github.com/redhat-developer/gitops-console-plugin.git
[submodule "gitops-must-gather/gitops-must-gather"]
	path = gitops-must-gather/gitops-must-gather
	url = https://github.com/redhat-developer/gitops-must-gather.git
[submodule "gitops-operator/gitops-operator"]
	path = gitops-operator/gitops-operator
	url = https://github.com/redhat-developer/gitops-operator.git
[submodule "argo-cd/argo-cd"]
	path = argo-cd/argo-cd
	url = https://github.com/argoproj/argo-cd.git
[submodule "argo-cd/helm"]
	path = argo-cd/helm
	url = https://github.com/helm/helm
[submodule "argo-cd/kustomize"]
	path = argo-cd/kustomize
	url = https://github.com/kubernetes-sigs/kustomize
[submodule "argo-cd/git-lfs"]
	path = argo-cd/git-lfs
	url = https://github.com/git-lfs/git-lfs
[submodule "argo-cd/tini"]
	path = argo-cd/tini
	url = https://github.com/krallin/tini
[submodule "argo-cd/ssh-connect"]
	path = argo-cd/ssh-connect
	url = https://github.com/gotoh/ssh-connect
[submodule "argo-rollouts/argo-rollouts"]
	path = argo-rollouts/argo-rollouts
	url = https://github.com/argoproj/argo-rollouts.git
[submodule "argo-rollouts/rollouts-plugin-trafficrouter-openshift"]
	path = argo-rollouts/rollouts-plugin-trafficrouter-openshift
	url = https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift.git
