[submodule "argo-cd/argo-cd"]
	path = argo-cd/argo-cd
	url = https://github.com/argoproj/argo-cd.git
[submodule "argo-cd/helm"]
	path = argo-cd/helm
	url = https://github.com/helm/helm
[submodule "argo-cd/kustomize"]
	path = argo-cd/kustomize
	url = https://github.com/kubernetes-sigs/kustomize
[submodule "argo-cd/git-lfs"]
	path = argo-cd/git-lfs
	url = https://github.com/git-lfs/git-lfs
[submodule "argo-cd/tini"]
	path = argo-cd/tini
	url = https://github.com/krallin/tini
[submodule "argo-cd/ssh-connect"]
	path = argo-cd/ssh-connect
	url = https://github.com/gotoh/ssh-connect
[submodule "sources/gitops-operator"]
	path = sources/gitops-operator
	url = https://github.com/redhat-developer/gitops-operator.git
[submodule "sources/gitops-must-gather"]
	path = sources/gitops-must-gather
	url = https://github.com/redhat-developer/gitops-must-gather.git
[submodule "sources/gitops-console-plugin"]
	path = sources/gitops-console-plugin
	url = https://github.com/redhat-developer/gitops-console-plugin.git
[submodule "sources/gitops-backend"]
	path = sources/gitops-backend
	url = https://github.com/redhat-developer/gitops-backend.git
[submodule "sources/dex"]
	path = sources/dex
	url = https://github.com/dexidp/dex.git
[submodule "sources/argocd-extension-installer"]
	path = sources/argocd-extension-installer
	url = https://github.com/argoproj-labs/argocd-extension-installer.git
[submodule "sources/rollout-extension"]
	path = sources/rollout-extension
	url = https://github.com/argoproj-labs/rollout-extension.git
[submodule "sources/rollouts-plugin-trafficrouter-openshift"]
	path = sources/rollouts-plugin-trafficrouter-openshift
	url = https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift.git
[submodule "sources/argo-rollouts"]
	path = sources/argo-rollouts
	url = https://github.com/argoproj/argo-rollouts.git
[submodule "sources/git-lfs"]
	path = sources/git-lfs
	url = https://github.com/git-lfs/git-lfs
