# Release Metadata
release:
  name: OpenShift GitOps Operator
  version: "main"
  managers:
    - name: "Siddhesh Ghadi"
      github: svghadi
      email: "sghadi@redhat.com"

# Source code repositories
# This section defines the source repositories for GitOps Operator artifacts built from source.
# See docs/sources.md for details on each field and usage instructions.
# On update, run `make sources` to update & validate the submodules.
# Note: `commit` is always used to perform the actual checkout. `ref` is purely metadata for CI which can be a tag or branch.
sources:
  - path: sources/gitops-operator 
    url: https://github.com/redhat-developer/gitops-operator.git
    ref: v1.16
    commit: a4755e5fc5ea85601037d31208901ee4ac07106e
  - path: sources/argo-cd 
    url: https://github.com/argoproj/argo-cd.git
    ref: release-2.14
    commit: 2aceb1dc444cd341dbe10030eeaaa9870f42b53d
  - path: sources/argo-rollouts 
    url: https://github.com/argoproj/argo-rollouts.git
    ref: v1.7.2
    commit: 59e5bd385c031600f86075beb9d77620f8d7915e
  - path: sources/kustomize
    url: https://github.com/kubernetes-sigs/kustomize.git
    ref: kustomize/v5.4.3
    commit: d4248b1213768c184f5ebbb8ee1a1422817478e4
  - path: sources/helm
    url: https://github.com/helm/helm.git
    ref: v3.16.4
    commit: 7877b45b63f95635153b29a42c0c2f4273ec45ca
  - path: sources/dex
    ref: v2.41.1
    url: https://github.com/dexidp/dex.git
    commit: 43956db7fd75c488a82c70cf231f44287300a75d
  - path: sources/git-lfs
    url: https://github.com/git-lfs/git-lfs.git
    ref: v3.6.1
    commit: ea47a34bde1ba1ecf9eb8dc6d44fcf7aef42f5e3
  - path: sources/ssh-connect
    url: https://github.com/gotoh/ssh-connect.git
    ref: master
    commit: b65b09a0ee06950972233e8ea86ef87c4e63b3c9
  - path: sources/tini
    url: https://github.com/krallin/tini.git
    ref: master
    commit: 0b44d3665869e46ccbac7414241b8256d6234dc4
  - path: sources/argocd-extension-installer
    url: https://github.com/argoproj-labs/argocd-extension-installer.git
    ref: main
    commit: 44a5ab8e6998df0beb6f293b3607262db53aa8c7
  - path: sources/gitops-console-plugin
    url: https://github.com/redhat-developer/gitops-console-plugin.git
    ref: main
    commit: d858af08d29c94618e6ad63bd3c9330420422088
  - path: sources/gitops-backend
    url: https://github.com/redhat-developer/gitops-backend.git
    ref: master
    commit: d83d568a6131e2564353a6ec1294d28635783616
  - path: sources/rollouts-plugin-trafficrouter-openshift
    url: https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift.git
    ref: main
    commit: 142230a39d74119ccfc7414f6812bdac2fc09449
  - path: sources/gitops-must-gather
    url: https://github.com/redhat-developer/gitops-must-gather.git
    ref: main
    commit: 4b954166b1ccab7dd628df912e5be13381b57211
  - path: sources/rollout-extension
    url: https://github.com/argoproj-labs/rollout-extension.git
    ref: master
    commit: 6f6289da54237a7ed084b22f3161317bfa9a9b4f