# Release Metadata
release:
  name: OpenShift GitOps Operator
  version: "1.18.3"
  olm:
    # TODO: Compute olm data automatically
    name: "openshift-gitops-operator.v1.18.3"
    channel: "latest,gitops-1.18"
    replaces: "openshift-gitops-operator.v1.18.2"
    skip-range: "" # empty for z-stream & ">=1.0.0 <x.y.0" for y-stream
  konflux:
    repo: https://github.com/rh-gitops-midstream/release.git
    branch: release-1.18
    application: gitops-1-18
  managers:
    - name: "Siddhesh Ghadi"
      github: svghadi
      email: "sghadi@redhat.com"
    - name: "Neus Miras"
      github: nmirasch
      email: "nmirasch@redhat.com"

# Source code repositories
# This section defines the source repositories for GitOps Operator artifacts built from source.
# See docs/sources.md for details on each field and usage instructions.
# On update, run `make sources` to update & validate the submodules.
# Note: `commit` is always used to perform the actual checkout. `ref` is purely metadata for CI which can be a tag or branch.
sources:
  - path: sources/gitops-operator 
    url: https://github.com/redhat-developer/gitops-operator.git
    ref: v1.18
    commit: f19618c70a33d0e403cdd6cd229cfdd6e9f99d8c
  - path: sources/argo-cd 
    url: https://github.com/argoproj/argo-cd.git
    ref: v3.1.10
    commit: b68c9643219a723ce5461f3268e02b3e93a9ab15
  - path: sources/argo-rollouts 
    url: https://github.com/argoproj/argo-rollouts.git
    ref: v1.8.3
    commit: 49fa1516cf71672b69e265267da4e1d16e1fe114
  - path: sources/kustomize
    url: https://github.com/kubernetes-sigs/kustomize.git
    ref: kustomize/v5.7.0
    commit: 7f30f0e23a350bd4ad66bbe7bc38208f311d5461
  - path: sources/helm
    url: https://github.com/helm/helm.git
    ref: v3.18.4
    commit: d80839cf37d860c8aa9a0503fe463278f26cd5e2
  - path: sources/dex
    ref: v2.43.0
    url: https://github.com/dexidp/dex.git
    commit: 8e96058e71257eb0a32e1b0a42303094dea9d8fb
  - path: sources/git-lfs
    url: https://github.com/git-lfs/git-lfs.git
    ref: v3.7.1
    commit: b84b33847fe6458f36ef521534dc0eac953cb379
  - path: sources/ssh-connect
    url: https://github.com/gotoh/ssh-connect.git
    ref: master
    commit: b65b09a0ee06950972233e8ea86ef87c4e63b3c9
  - path: sources/tini
    url: https://github.com/krallin/tini.git
    ref: master
    commit: 0b44d3665869e46ccbac7414241b8256d6234dc4
  - path: sources/argocd-extension-installer
    url: https://github.com/argoproj-labs/argocd-extension-installer.git
    ref: main
    commit: 44a5ab8e6998df0beb6f293b3607262db53aa8c7
  - path: sources/gitops-console-plugin
    url: https://github.com/redhat-developer/gitops-console-plugin.git
    ref: v1.18
    commit: 3059e2bf1ce07c8b5bd5c5fcb559d72d333c45fd
  - path: sources/gitops-backend
    url: https://github.com/redhat-developer/gitops-backend.git
    ref: master
    commit: 18ee1c620ddb72a282f64d682c3108f85aa82a85
  - path: sources/rollouts-plugin-trafficrouter-openshift
    url: https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift.git
    ref: main
    commit: 1495bbad184a05cde955fb21dcf35d05c3e58d98
  - path: sources/gitops-must-gather
    url: https://github.com/redhat-developer/gitops-must-gather.git
    ref: main
    commit: 1b0595fe1ce6dd70fe62bb810ce6eadaef7ac454
  - path: sources/rollout-extension
    url: https://github.com/argoproj-labs/rollout-extension.git
    ref: master
    commit: 460c5569230680bc6cad6b4b4d3a8968135433e1
  - path: sources/argocd-agent
    url: https://github.com/argoproj-labs/argocd-agent.git
    ref: v0.4.1
    commit: e0c406a25559fcae2f397519bc51b10f8d06709e

# External images pulled directly from Red Hat registry and are
# required by the operator at runtime.
# Bundle generation script will automatically fetch latest sha for each image 
# based on the version specified.
externalImages:
  - name: "haproxy"
    image: registry.redhat.io/openshift4/ose-haproxy-router
    version: v4.14
  - name: "keycloak"
    image: registry.redhat.io/rh-sso-7/sso76-openshift-rhel8
    version: 7.6
  - name: "redis"
    image: registry.redhat.io/rhel9/redis-7
    version: 9.6
  - name: "kube-rbac-proxy"
    image: registry.redhat.io/openshift4/ose-kube-rbac-proxy
    version: v4.15

# Konflux images are images that are built from the source in this repository
konfluxImages:
  - name: argo-rollouts
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argo-rollouts-rhel8"
  - name: argocd-extenstions
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-extensions-rhel8"
  - name: argocd
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-rhel8"
  - name: argocd-rhel9
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-rhel9"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-rhel9"
  - name: argocd-agent
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agent-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-agent-rhel8"
  - name: console-plugin
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/console-plugin-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/console-plugin-rhel8"
  - name: dex
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/dex-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/dex-rhel8"
  - name: gitops
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-rhel8"
  - name: gitops-operator-bundle
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-operator-bundle"
  - name: gitops-operator
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8-operator"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-rhel8-operator"
  - name: must-gather
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/must-gather-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/must-gather-rhel8"
