# Release Metadata
release:
  name: OpenShift GitOps Operator
  version: "1.15.4"
  olm:
    # TODO: Compute olm data automatically
    channel: "gitops-1.15"
    replaces: "openshift-gitops-operator.v1.15.3"
    skip-range: "" # empty for z-stream & ">=1.0.0 <x.y.0" for y-stream
  konflux:
    repo: https://github.com/rh-gitops-midstream/release.git
    branch: release-1.15
    application: gitops-1-15
  managers:
    - name: "Siddhesh Ghadi"
      github: svghadi
      email: "sghadi@redhat.com"

# Source code repositories
# This section defines the source repositories for GitOps Operator artifacts built from source.
# See docs/sources.md for details on each field and usage instructions.
# On update, run `make sources` to update & validate the submodules.
# Note: `commit` is always used to perform the actual checkout. `ref` is purely metadata for CI which can be a tag or branch.
sources:
  - path: sources/gitops-operator 
    url: https://github.com/redhat-developer/gitops-operator.git
    ref: v1.16
    commit: ba637f02bd9777a3ec55df8b27034629dda92b56
  - path: sources/argo-cd 
    url: https://github.com/argoproj/argo-cd.git
    ref: v2.14.15
    commit: 6c7d6940cd19a4543e749d18ac282c7020c7c92e
  - path: sources/argo-rollouts 
    url: https://github.com/argoproj/argo-rollouts.git
    ref: v1.7.2
    commit: 59e5bd385c031600f86075beb9d77620f8d7915e
  - path: sources/kustomize
    url: https://github.com/kubernetes-sigs/kustomize.git
    ref: kustomize/v5.4.3
    commit: d4248b1213768c184f5ebbb8ee1a1422817478e4
  - path: sources/helm
    url: https://github.com/helm/helm.git
    ref: v3.16.4
    commit: 7877b45b63f95635153b29a42c0c2f4273ec45ca
  - path: sources/dex
    ref: v2.41.1
    url: https://github.com/dexidp/dex.git
    commit: 43956db7fd75c488a82c70cf231f44287300a75d
  - path: sources/git-lfs
    url: https://github.com/git-lfs/git-lfs.git
    ref: v3.6.1
    commit: ea47a34bde1ba1ecf9eb8dc6d44fcf7aef42f5e3
  - path: sources/ssh-connect
    url: https://github.com/gotoh/ssh-connect.git
    ref: master
    commit: b65b09a0ee06950972233e8ea86ef87c4e63b3c9
  - path: sources/tini
    url: https://github.com/krallin/tini.git
    ref: master
    commit: 0b44d3665869e46ccbac7414241b8256d6234dc4
  - path: sources/argocd-extension-installer
    url: https://github.com/argoproj-labs/argocd-extension-installer.git
    ref: main
    commit: 44a5ab8e6998df0beb6f293b3607262db53aa8c7
  - path: sources/gitops-console-plugin
    url: https://github.com/redhat-developer/gitops-console-plugin.git
    ref: main
    commit: d858af08d29c94618e6ad63bd3c9330420422088
  - path: sources/gitops-backend
    url: https://github.com/redhat-developer/gitops-backend.git
    ref: master
    commit: d83d568a6131e2564353a6ec1294d28635783616
  - path: sources/rollouts-plugin-trafficrouter-openshift
    url: https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift.git
    ref: main
    commit: 142230a39d74119ccfc7414f6812bdac2fc09449
  - path: sources/gitops-must-gather
    url: https://github.com/redhat-developer/gitops-must-gather.git
    ref: main
    commit: 4b954166b1ccab7dd628df912e5be13381b57211
  - path: sources/rollout-extension
    url: https://github.com/argoproj-labs/rollout-extension.git
    ref: master
    commit: 6f6289da54237a7ed084b22f3161317bfa9a9b4f

# External images pulled directly from Red Hat registry and are
# required by the operator at runtime.
# Bundle generation script will automatically fetch latest sha for each image 
# based on the version specified.
externalImages:
  - name: "haproxy"
    image: registry.redhat.io/openshift4/ose-haproxy-router
    version: v4.14
  - name: "keycloak"
    image: registry.redhat.io/rh-sso-7/sso76-openshift-rhel8
    version: 7.6
  - name: "redis"
    image: registry.redhat.io/rhel9/redis-7
    version: 9.5
  - name: "kube-rbac-proxy"
    image: registry.redhat.io/openshift4/ose-kube-rbac-proxy
    version: v4.15

# Konflux images are images that are built from the source in this repository
konfluxImages:
  - name: argo-rollouts
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argo-rollouts-rhel8"
  - name: argocd-extenstions
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-extensions-rhel8"
  - name: argocd
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-rhel8"
  - name: argocd-rhel9
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-rhel9"
    releaseRef: "registry.redhat.io/openshift-gitops-1/argocd-rhel9"
  - name: console-plugin
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/console-plugin-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/console-plugin-rhel8"
  - name: dex
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/dex-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/dex-rhel8"
  - name: gitops
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-rhel8"
  - name: gitops-operator-bundle
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-operator-bundle"
  - name: gitops-operator
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8-operator"
    releaseRef: "registry.redhat.io/openshift-gitops-1/gitops-rhel8-operator"
  - name: must-gather
    buildRef: "quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/must-gather-rhel8"
    releaseRef: "registry.redhat.io/openshift-gitops-1/must-gather-rhel8"